#Footer {
    font-size: 13px;
    color: #a3b1bf;
    font-family: 'Lato', sans-serif;
    position: relative;

    h4 {
        font-weight: bold;
        font-size: 16px;
    }

    .inner-footer {
        padding: 50px 0px;
        @media (min-width:576px) {
        padding: 50px 30px;
        
    }
    }

    .links-footer {
        border-bottom: 1px solid #525252;

        @media(min-width:576px) {
            border-bottom: none;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    li a:hover {
        filter: brightness(1.4);
    }


    .column-contact {
        .constact-data-footer {
            font-weight: 600;
            max-width: 560px;
            border-top: 1px solid #525252;

            @media(min-width:576px) {
                border-top: none;
                border-left: 1px solid #525252;
            }

            .social-media-icons a {
                margin-right: 25%;

                svg {
                    color: $primary;
                    height: 20px;
                }

                svg:hover {
                    color: #ff6900;
                }
            }
        }
    }

    .arrow-up-anchor {
        z-index: 1100;
        position: absolute;
        background-color: $primary;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 4px solid $light;
        top: -40px;
        right: 10%;

        svg {
            margin-top: 8px;
            height: 70%;
            width: 70%;
        }
    }

    .arrow-up-anchor:hover {
        background-color: #ff6900;
    }
}