
.header-nav {
    padding: 35px 0;
    transition: all ease-in-out 0.3s;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #646363;

    .anchor-button>a, .nav-link {
        padding: 10px 13px !important;
        line-height: 20px;
    }

    .anchor-button>a:hover, .nav-link:hover {
        color: $primary;
    }

    .anchor-donate>a {
        background-color: $primary;
        color: #fff;
    }

    .anchor-donate>a:hover {
        color: #000000;
    }

    .dropdown-menu {
        border-radius: 0;
        font-size: 14px;
        box-shadow: 0px 4px 6px #8383831e;
    }

    .dropdown-menu a:hover {
        background-color: $primary;
        color: $light;
    }
}

.headerStickyStyle {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px 5px 5px #00000015;
.navbar-logo{
max-width: 350px;  
img{
    max-width: 100%;
}
}
}

.navbar-logo img{
    content: url('../../src/assets/images/lola-logo-mobile.png');
@media(min-width:992px){
    content: url('../../src/assets/images/lola-logo.png');
}

}

#basic-navbar-nav{
@media (max-width:576px) {
    height: 200px;
}
.navbar-nav-scroll{
    overflow-y: visible;
}
}

.navbar-toggler{
    color: #646363;
}
.navbar-toggler:active{
box-shadow: none;
border: 1px solid #000;
}

